button {
   background-color: #847BBE;
   transition: 0.3s;
   border: 0;
   border-radius: 6px;
   width: 160px;
   height: 40px;
   cursor: pointer;
}

.input-box {
   background-color: #AEA7DD;
   border-style: none;
   border-radius: 6px;
   margin: 10px 0 10px 0;
   padding: 0 5px 0 5px;
   font-family: "Montserrat";
}

.text-area-box {
   word-break: break-word;
   background-color: #AEA7DD;
   border-style: none;
   border-radius: 6px;
   margin: 10px 0 10px 0;
   padding: 10px 10px 10px 10px;
   font-family: "Montserrat";
   resize: none;
}

select {
   border: 2px solid #847BBE;
   font-family: "Montserrat";
   border-radius: 4px;
   box-sizing: border-box;
   width: 250px;
   font-size: 15px;
   padding: 5px 20px;
   text-align: left;
}

button:hover {
   transition: 0.3s;
   background: #AEA7DD;
   cursor: pointer;
}

@media (min-width: 1280px) {
   .input-box {
      width: 600px;
      height: 60px;
      font-size: 21px;
   }
   
   .text-area-box {
      width: 600px;
      height: 145px;
      font-size: 21px;
   }

   .dropdown {
      display: inline-block;
      position: relative;
   }
   
   input[type=checkbox]{
      display: none;
   }

   input[type=checkbox]:checked~#dropdown-content{
      display: block;
   }

   .dropdown-content {
      margin-top: 40px;
      outline-color: #847BBE;
      outline-style: solid;
      transform: translate(-340px);
      border-radius: 3px;
      display: none;
      position:absolute;
      width: 400px;
      height: 385px;
      background-color: white;
      box-shadow: 0px 8px 16px 0px rgba(174, 167, 221, 0.9);
   }
}

@media (min-width: 320px) and (max-width: 599px) {
   .input-box {
      width: 300px;
      height: 40px;
      font-size: 15px;
   }
   
   .text-area-box {
      width: 290px;
      height: 95px;
      font-size: 15px;
   }
}

@media (min-width: 600px) and (max-width: 1279px) {
   .input-box {
      width: 535px;
      height: 50px;
      font-size: 17px;
   }
   
   .text-area-box {
      width: 525px;
      height: 130px;
      font-size: 17px;
   }
}

.text-area-box::placeholder {
   color: #3D3D3D;
}

.input-box:focus, .input-box:active,
.text-area-box:focus, .text-area-box:active
{
   outline: none;
}