@media (min-width: 1280px) {
   .header {
      display: flex !important;
      width: 100%;
      height: 80px;
      padding: 0;
      margin: 0;
      background-color: white;
      justify-content: space-between;
      align-items: center !important;
      box-shadow: 0 10px 30px 2px rgba(174, 167, 221, 0.9);
   }

   .bottom-navigation {
      display: none;
   }
}

@media (max-width: 1279px) {
   .header {
      display: none;
   }
   
   .bottom-navigation {
      display: flex !important;
      padding: 0;
      margin: 0;
      bottom: 0;
      position: fixed;
      height: 60px;
      width: 100%;
      background-color: rgb(174, 167, 221);
      justify-content: space-between;
      align-items: center !important;
   }

}